<h6 class="bold cblue">
    EXPERIENCE
</h6>
<div>
<div class="container-fluid m-0 pt-2 px-0">
    <div class="row m-0 p-0">
    <div class="col-sm-6 p-0">
        <h6 class="bold mb-0">Embedded Systems Research <span class="small cblue btn-link mb-0" type="button" (click)="back()">Back</span></h6>
    </div>
    <div class="col-sm-6 p-0">
        <h6 class="small mb-0 text-md-right">Aug 2019 - Dec 2019</h6>
    </div>
    </div>
</div>
<div class="d-flex align-items-center mb-1">
    <span class="small font-italic">University of Puerto Rico - Mayagüez</span>
</div>
<ul class="mb-1">
    <li class="normal">
    Studied the structure, components, design, and specifications of current Field Programmable Gate Arrays (FPGAs) to understand their applications in Edge Computing and Internet of Things (IoT) and develop a feasible project.
    </li>
</ul>
</div>
