.jumbotron {
    margin-bottom: 0 !important;
}
.img-width {
    width: 10vh;
    height: 10vh;
}
.w-20 {
    width: 20% !important;
}
.icon-btn {
    width: 48px;
    height: 48px;
    background-color: transparent;
}
.icon-btn:hover {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: lightgray;
}
.menu-btn {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-btn:hover {
    background-color: whitesmoke;
}
.list-group-item {
    /* border: none !important; */
    background-color: #f8f9fa;
}
.list-group-item.active {
    background-color: #0b5394;
    border: none !important;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.list-group-item+.list-group-item {
    border-top-width: 1px;
}
.list-group {
    flex-direction: row;
    overflow: auto;
}
@media (min-width: 576px) {
    .list-group {
        flex-direction: column;
    }
    .list-group-item+.list-group-item {
        border-top-width: 0;
    }
}
@media (min-width: 992px) {
    #menu {
        height: 100vh;
    }
}