<div class="jumbotron vh-100 d-flex align-items-center flex-column justify-content-center">
  <img src="./assets/profile_pic_cris.jpg" class="rounded-circle" width="200" height="200"  alt="Responsive image">
  <h1 class="display-4">Cristian Ruiz</h1>
  <p class="lead">This is my simple portfolio website.</p>
  <p>You can download my current resume below...</p>
  <a class="btn btn-primary btn-lg" href="./assets/Cristian-Ruiz-Resume.pdf" role="button">Download Resume</a>
</div>
<router-outlet></router-outlet>