<div class="sidenav">
  <img class width="300px" src="../../assets/CokiMuSolutionsLogo.png" alt="coki mu solutions logo">
  <h1 class="pt-3 pl-3 text-white">Blog</h1>
  <a type="button" onClick="document.getElementById('18jan').scrollIntoView({behavior: 'smooth'});">18 Jan 2021</a>
  <a type="button" onClick="document.getElementById('21jan').scrollIntoView({behavior: 'smooth'});">21 Jan 2021</a>
  <a type="button" onClick="document.getElementById('22jan').scrollIntoView({behavior: 'smooth'});">22 Jan 2021</a>
  <a type="button" onClick="document.getElementById('23jan').scrollIntoView({behavior: 'smooth'});">23 Jan 2021</a>
  <a type="button" onClick="document.getElementById('25jan').scrollIntoView({behavior: 'smooth'});">25 Jan 2021</a>
  <a type="button" onClick="document.getElementById('26jan').scrollIntoView({behavior: 'smooth'});">26 Jan 2021</a>
  <a type="button" onClick="document.getElementById('27jan').scrollIntoView({behavior: 'smooth'});">27 Jan 2021</a>
  <a type="button" onClick="document.getElementById('29jan').scrollIntoView({behavior: 'smooth'});">29 Jan 2021</a>
  <a type="button" onClick="document.getElementById('1feb').scrollIntoView({behavior: 'smooth'});">01 Feb 2021</a>
  <a type="button" onClick="document.getElementById('12feb').scrollIntoView({behavior: 'smooth'});">12 Feb 2021</a>
</div>
<div class="main">
  <div id="18jan" class="vh-100">
    <h1 class="pt-5">Team Meeting - 18 Jan 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz</h6>
    <p>Topics to discuss:</p>
    <ul>
      <li>Define project ideas</li>
      <li>Define Valet parking system idea</li>
    </ul>
      <p>Present:</p>
      <ul>
        <li>Cristian Ruiz</li>
        <li>Christian Santiago</li>
      </ul>
      <p>Discussed:</p>
      <ul>
        <li>Brainstorming session for possible capstone projects. Further discuss the purpose.</li>
      </ul>
      <p>Access meeting notes via Google Docs <a href="" target="_blank">here</a>.</p>
  </div>
  <br>
  <br>
  <br>
  <div id="21jan" class="vh-100">
    <h1 class="pt-5">Team Meeting - 21 Jan 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz, <span><strong>Pedro Rivera</strong></span></h6>
    <p>Topics to discuss:</p>
    <ul>
      <li>Ideas discovered</li>
      <li>Problem definition exercise</li>
    </ul>
    <p>Access meeting notes via Google Docs <a href="" target="_blank">here</a>.</p>
  </div>
  <br>
  <br>
  <br>
  <div id="22jan">
    <h1 class="pt-5">Team Meeting - 22 Jan 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz, <span><strong>Andres Rosado (CTI)</strong></span></h6>
    <p>Discussed:</p>
    <ul>
      <li>Buildbot for CTI. Link: https://buildbot.net/</li>
      <li>UPRM Cloud Platform similar initiatives:</li>
        <ul>
          <li>VCL https://vcl.uprm.edu/</li>
          <li>Apache https://vcl.apache.org/</li>
        </ul>
      <li>Apache CloudStack</li>
      <li>Proxmox</li>
    </ul>
    <br>
    <h1 class="pt-5">Client Meeting - 22 Jan 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz, <span><strong>Dr. Manuel Jimenez (CID)</strong></span></h6>
    <p>Discussed:</p>
    <ul>
      <li>Vacation Planner for CID</li>
      <li>Questions:</li>
      <ul>
        <li>¿Cuál es el proceso de solicitud de vacaciones? (beginning to end)</li>
        <ul>
          <li>empleado solicita sus días (1)</li>
          <li>supervisor verificar conflictos con todas las solicitudes (2)</li>
          <li>cross training map para adiestramiento (3)</li>
          <li>generar calendario (general, por área u oficina, individual) certificado por supervisor (4)</li>
          <li>enviar a HR para verificación, cumple con planes de cada empleado (5)</li>
          <li>monitoreo y revisión cada mes (repeat)</li>
        </ul>
        <li>¿Existe personal/empleado que no tenga acceso a equipo tecnológico?</li>
        <ul>
          <li>Se supone que todo el mundo tiene una computadora y acceso a info del centro</li>
          <li>que sea en la página web del centro con un auth</li>
        </ul>
        <li>Durante el proceso de aprobación, ¿cómo se recogen las firmas? ¿Existe algún reporte y/o documento que requiera una firma física o se aceptan firmas electrónicas?</li>
        <ul>
          <li>es requerido una firma del empleado, entiende que hay manera electrónica con un submit y por el auth </li>
        </ul>
      </ul>
    </ul>
    <h5>NOTES: PEERS = PARES de empleados para cross-training y planificación de área, USER-FRIENDLY ES UN PLUS</h5>
    <p>Access meeting notes via Google Docs <a href="" target="_blank">here</a>.</p>
  </div>
  <br>
  <br>
  <br>
  <div id="23jan" class="vh-100">
    <h1 class="pt-5">Team Meeting - 23 Jan 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz</h6>
    <p>Discussed assigning proposal parts:</p>
    <img src="../../assets/proposaltasks.png" alt="">
    <p>Access meeting notes via Google Docs <a href="" target="_blank">here</a>.</p>
  </div>
  <br>
  <br>
  <br>
  <div id="25jan" class="vh-100">
    <h1 class="pt-5">Team Meeting - 25 Jan 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz</h6>
    <p>Discussed:</p>
    <ul>
      <li>Vote for a project.</li>
      <ul>
        <li>Final Decision = Vacation Planner</li>
      </ul>
      <li>Writing Center.</li>
      <li>Discuss progress.</li>
      <li>Possible tech stack: MariaDB (MySQL’s twin brother/sister) and PHP mentioned by Andres.</li>
      <li>Best possible PHP framework: Laravel.</li>
      <li>Objectives</li>
      <ul>
        <li>System to minimize a reasonable % of the service disconituity of the CID</li>
        <li>Authentication </li>
        <li>Reporting</li>
        <li>Sincronización con base de datos HR UPRM</li>
      </ul>
      <li>Database = mongodb or mysql or mariadb or firebase</li>
      <li>Web interface = react or vue or angular or vainilla</li>
      <li>Notification = nodemailer</li>
      <li>Authentication = passport.js or opensaml</li>
      <li>Comparing project complexity leading us to chose Vacation Planner.</li>
    </ul>
    <p>Access meeting notes via Google Docs <a href="" target="_blank">here</a>.</p>
  </div>
  <div id="26jan" class="vh-100">
    <h1 class="pt-5">Team Meeting - 26 Jan 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz</h6>
    <p>Discussed:</p>
    <ul>
      <li>Seguimiento a Jimenez</li>
      <li>Definir bien el problema y los objetivos para mañana</li>
      <li>Jueves sometemos las cosas en ecourses</li>
    </ul>
    <p>Access meeting notes via Google Docs <a href="" target="_blank">here</a>.</p>
  </div>
  <div id="27jan" class="vh-100">
    <h1 class="pt-5">Team Meeting - 27 Jan 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz</h6>
    <p>Discussed:</p>
    <ul>
      <li>Enviar correo a Jiménez y llamar al CID mañana (sí Jiménez no contesta).</li>
      <li>Definición del problema</li>
      <li>How to define a methodology for recommending approval personnel</li>
    </ul>
    <p>Access meeting notes via Google Docs <a href="" target="_blank">here</a>.</p>
  </div>
  <br>
  <br>
  <br>
  <div id="29jan">
    <h1 class="pt-5">Client Meeting - 29 Jan 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz, <span><strong>Dr. Manuel Jimenez (CID)</strong>, <strong>Nerida Montalvo (CID)</strong></span></h6>
    <p>Discussed:</p>
    <ul>
      <li>Preguntas:</li>
      <ul>
        <li>Explicación del proceso completo que se realiza cuando un empleado solicita vacaciones. - para el de RH</li>
        <li>¿Existe alguna métrica con la que ellos puedan medir el impacto de la discontinuidad de servicios (dinero perdido, grants lost, etc)? </li>
        <ul>
          <li>Uso y costumbre</li>
          <li>tracking de la discontinuidad de servicio si es possible para visualizar</li>
        </ul>
        <li>¿Existe una lista de los empleados con las tareas que pueden realizar, para de esa forma poder escoger el reemplazo del recurso que se va a de vacaciones?</li>
      </ul>
      <li>Sería de buen uso si nos pudieran proveer una copia de todos los formularios que forman parte del proceso.</li>
      <li>Ask Jimenez about other applications he tried: Manejadores de recursos humanos, reclutar shifts de trabajo programar vacaciones caros human resources vacation planner, cobran adicional por empleado, quiere un sistema estupidamente sencillo.</li>
      <li>Contacto de Nerida: nerida.montalvo@upr.edu ext. 5202, 5203, 2407</li>
      <li>18 nov para el 3 de dic planificado los 30 dias y entregarlo a administracion el dia 9, 1 mes en completar</li>
      <li>Imagen de procesos en el CID: </li>
      <img src="../../assets/procesoscid.png" alt="" width="600px">
      <li>Desean ver un calendario donde no hayan conflictos entre empleados</li>
      <li>Todo lo hacen por uso y costumbre</li>
    </ul>
    <p>Access meeting notes via Google Docs <a href="" target="_blank">here</a>.</p>
  </div>
  <br>
  <br>
  <br>
  <div id="1feb" class="vh-100">
    <h1 class="pt-5">Team Meeting - 1 Feb 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz</h6>
    <p>Discussed:</p>
    <ul>
      <li>Working on proposal and updating our document given feedback from Dr. Nayda Santiago.</li>
      <li>Updated table of team's distributed document tasks.</li>
    </ul>
    <p>Access meeting notes via Google Docs <a href="" target="_blank">here</a>.</p>
  </div>
  <br>
  <br>
  <br>
  <!-- missing meets -->
  <div id="12feb" class="vh-100">
    <h1 class="pt-5">Client Meeting - 12 Feb 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz, <span><strong>Dr. Manuel Jimenez (CID)</strong>, <strong>Ileana Latorre (CID)</strong></span></h6>
    <p>Discussed:</p>
    <ul>
      <li>Record video going through the storyline with the client.</li>
    </ul>
    <p>Access video <a href="https://drive.google.com/file/d/1j570pkY512z1Xz39yEtiHtv5tNMmlc3A/view" target="_blank">here</a>.</p>
    <br>
    <h1 class="pt-5">Team Meeting - 12 Feb 2021</h1>
    <h6>Participants: Christian Santiago, Lumaris Ríos, Cristian Ruiz, <span><strong>Andres Rosado (CTI)</strong></span></h6>
    <p>Discussed:</p>
    <ul>
      <li>Sincronización de Base de Datos entre el CTI y la información de empleados del CID</li>
      <ul>
        <li>Sitema de Oracle HRDS, administración central</li>
        <li>Pablo Rebollo: contacto en administración central que puede relacionarse con las personas encargadas del sistema.</li>
        <li>nformación personal del empleado programado en rumad. Un servicio interno hace que salga en NEXT(portal.upr.edu)</li>
        <li>Tamara : el martes 16/feb  estructura de datos de los archivos.</li>
        <li>Ellos suben un archivo, generan un reporte mensual.</li>
        <li>madelyn.rios@upr.edu directora de recursos humanos UPRM</li>
        <li>Manuel Jimenez debe solicitar a recursos humanos para darnos el archivo.</li>
      </ul>
      <li>OpenProject access.</li>
      <li>El sistema de acceder con el ColegioID (OpenSAML)</li>
      <ul>
        <li>OpenSAML, dos servidores se tienen que conocer, IDP = Identity Provider, Service Provider = quien va proveer el servicio, idp.uprm.edu => se necesita un archivo, openSAML genera archivo y luego se envia a IDP de UPRM => 1. generar archivo del servicio provider (tener un domain ej. https://cid.uprm.edu/vacationplanner -> Martin Melendez del CTI para Networking y DNS de la UPRM) 2. enviar archivo a CTI para añadir a IDP de la UPRM 3. archivo -> .XML 4. login button runs opensaml script and creates link to redirect user</li>
        <li>NOTE: alternative = shibboleth openSAML => manages all about login, this program will need open paths by itself not by framework, apache is easy</li>
      </ul>
    </ul>
    <p>Access meeting notes via Google Docs <a href="" target="_blank">here</a>.</p>
  </div>
  <br>
  <br>
  <br>
  <div></div>
</div>